.feature-item {
    .title {
        color: var(--white);
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.3;
    }

    .description {
        color: var(--text-secondary);
        font-size: 19.2px;
    }

    .feature-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            color: var(--text-secondary);
            font-size: 19.2px;
            line-height: 1.4;
            padding-left: 20px;
            position: relative;

            &::before {
                content: '-';
                color: var(--accent-color);
                font-size: 20px;
                position: absolute;
                left: 0;
                top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
