---
import LinkBtn from '../link-btn/link-btn.astro';
import './hero.scss';
---

<div class='hero'>
    <h1 class='hero-title'>Полная автоматизация продвижения на Wildberries</h1>
    <div class='hero-content'>
        <p class='hero-content-text'>e-Comet – сервис по управлению рекламой и отзывами на Вайлдберриз на основе ИИ</p>
        <a href='https://cmp.wildberries.ru/landings/certification' target='_blank' class='w-inline-block'
            ><img
                src='https://cdn.prod.website-files.com/60be4693fb49169badfdde62/6876b9ed42a7b373efd60ff6_gold_white.svg'
                loading='lazy'
                alt=''
                class='image-4'
            /></a
        >
    </div>
    <LinkBtn href='https://app.e-comet.io/login'>Попробовать бесплатно</LinkBtn>
</div>
