$colors: (
    main-bg: #15151e,
    secondary-bg: #2b2b3b,
    text-secondary: #c3c3d0,

    white: #ffffff,

    dodger-blue: #27a4ff,
    royal-blue: #3354ff,
    cornflower-blue: #7433ff,
    hot-pink: #f64abb,
    white-2: #ff7c33,
);
