---
import FeaturesBlock from '../features-block/features-block.astro';
import './features.scss';
---

<div class='features'>
    <FeaturesBlock
        title='Возможности'
        imageSrc='../../../public/features.png'
        imageAlt='Features'
        isImageLeft={true}
        features={[
            {
                title: 'Биддер / Управление рекламой',
                description: 'Мощный и стабильный биддер с гибкими настройками, интуитивным интерфейсом и глубокой аналитикой',
            },
            {
                title: 'А/Б-тесты',
                description: 'Определение самых эффективных фотографий товара',
            },
            {
                title: 'Управление отзывами',
                description: 'Автоматические ответы на отзывы "без сюрпризов" - сочетание проверенных шаблонов с мощью ИИ',
            },
            {
                title: 'Аналитика',
                description: 'Поиск ниш, анализ трендов и мониторинг конкурентов',
            },
            {
                title: 'Консалтинг и ведение',
                description: 'Управления внутренней рекламой "под ключ" командой экспертов с использованием ИИ',
            },
        ]}
    />

    <FeaturesBlock
        title='Биддер / Управление рекламой'
        description='Полный контроль и продвинутые настройки для экспертов в рекламе'
        imageSrc='../../../public/bidder.png'
        imageAlt='Bidder'
        isImageLeft={false}
        features={[
            {
                title: 'Продвинутые настройки',
                description:
                    'Автопополнение с приоритетом счетов, пауза по негативным отзывам и "выпадению" размера, фильтрация фраз по CTR и CPC, контроль целевой позиции в органике',
            },
            {
                title: 'Детальная аналитика',
                description:
                    'Ключевые метрики по дням и за период, разделение на органику / рекламу и зоны показов, агрегации по брендам / предметам / артикулам / склейкам',
            },
            {
                title: 'Надежный биддер',
                description: 'Стабильная работа по официальному API, быстрый алгоритм сходимости к целевой позиции',
            },
            {
                title: 'Удобство управления тысячами РК',
                description:
                    'Дашборд с ключевыми показателями сотен кампаний, массовое создание и изменение настроек кампаний, пересоздание кампаний в 1 клик, контроль ошибок и индикация проблем',
            },
        ]}
    />

    <FeaturesBlock
        title='Управление отзывами'
        description='Без "сюрпризов". Сочетание выверенных шаблонов с мощью нейронных сетей'
        imageSrc='../../../public/feedback.png'
        imageAlt='Reviews'
        isImageLeft={true}
        features={[
            {
                title: 'Персонализированные шаблоны',
                description:
                    'Надежный и качественный результат на базе проверенных шаблонов под каждую тему и категорию товаров. Отсутствие "креативов" от чатботов и необходимости "допиливать" конечный ответ',
            },
            {
                title: 'Классификатор тем на базе ИИ',
                description: 'Автоматизация сборки итогового ответа без необходимости детальных правил и прописывания ключевых слов',
            },
            {
                title: 'Минимум времени на обработку',
                description:
                    'Сотни отзывов за несколько минут в день, с минимальными изменениями конечных ответов только в самых сложных ситуациях',
            },
        ]}
    />

    <FeaturesBlock
        title='Внешняя аналитика'
        description='Необходимый инструментарий для понимания рыночной ситуации'
        imageSrc='../../../public/analytics.png'
        imageAlt='Analytics'
        isImageLeft={false}
        features={[
            {
                title: 'Поиск ниш',
                description: 'Подбор привлекательных ниш по множеству параметров',
            },
            {
                title: 'Анализ трендов',
                content: `
                    <ul class='feature-list'>
                        <li>Дневная статистика продаж для оперативной реакции на изменения на рынке</li>
                        <li>Долгосрочные исторические данные для выявления сезонных трендов</li>
                    </ul>
                `,
            },
            {
                title: 'Мониторинг конкурентов',
                description:
                    'Позиции по ключевым фразам и динамика продаж конкурентов для выявления лучших практик по ценообразованию, контенту и продвижению',
            },
        ]}
    />
</div>
