---
import './footer.scss';
---

<div class='footer'>
    <div class='footer-left'>
        <img class='logo' src='/astro-landing/logo-with-text.svg' alt='e-Comet' />
        <div>
            ООО "е-Комет" ИНН 5050168135 КПП 505001001 ОГРН 1255000045563<br />‍Щёлково, Фряновское ш., стр. 1Б, +7 (993) 600-44-42<br
            />Технологический стек:&nbsp;Typescript, CSS, HTML, React, Python, FastAPI
        </div>
    </div>
    <div class='footer_right'>
        <div class='footer-right-top'>
            <a href='/privacy' class='footer_link'>Политика конфиденциальности</a><a href='/oferta' class='footer_link'>Договор оферты</a>
        </div><div>ПО доступно как готовый интернет-сервис, установка не требуется</div>
    </div>
</div>
