.section-title {
    text-align: center;
    .title {
        color: var(--white);
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1.1;
    }

    .description {
        color: var(--text-secondary);
        margin-top: 16px;
        font-size: 24px;
    }
}
